* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: teal;
  color: white;
  text-align: center;
}

button {
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  background-size: cover;
}

#session-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#session {
  margin: 0 5px;
}

.timer-container {
  display: inline-block;
  padding: 10px;
  border: 1px solid #423a3a;
  margin: 10px auto;
  border-radius: 10px;
}

#up {
  background-image: url('https://img.icons8.com/dotty/80/000000/circled-up-2.png');
}

#down {
  background-image: url('https://img.icons8.com/dotty/80/000000/circled-down-2.png');
}

#start {
  background-image: url('https://img.icons8.com/ios-filled/100/000000/play.png');
}

#pause {
  background-image: url('https://img.icons8.com/ios-filled/100/000000/pause.png');
}
